body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(9,25,40,255);
  overflow: hidden;
}


.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.notification {
  display: flex;
  z-index: 20;
  width: fit-content;
  height: fit-content;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.location-icon:hover {
  cursor: pointer;
  scale: 2;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  object-fit: contain;
  flex-direction: column;
  opacity: 0.7;
}

.loader-text {
  display: flex;
  width: 50%;
  text-align: center;
  font-size: 2em;
  justify-content: center;
  font-weight: bolder;
}

.loader img {
  width: 400px;
}

.location-info {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 24px;
  box-shadow: 1px 1px 5px black;
  color: black;
  z-index: 50;
}

.location-info ul {
  list-style: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.location-info h2 {
  font-weight: bolder;
  font-size: 2em;
  margin: auto;
  border-bottom: 1px solid black;
  text-shadow: 0px 0px 2px black;
}

.stat {
  color: green;
}

.logo-icon {
  color: green;
}

.external {
  display: inline-flex;
  bottom: 0;
  right: 0;
  position: absolute;
  align-items: center;
  gap: 1em;
  padding-right: 1em;
  text-decoration: none;
}

.external-icon {
  font-size: 2rem;
}

.exit {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  padding-right: 5px;
  padding-top: 5px;
}

.exit:hover {
  cursor: pointer;
}

.selection-box {
  display: flex;
  flex-direction: column;
  width:60px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 60px;
  position: absolute;
  bottom: 50px;
  left: 10px;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.set-icon {
  font-size: 2em;
  color: black;
}

.icon-box {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  border: 4px solid black;
  justify-content: center;
  align-items: center;
}

.icon-box:hover {
  cursor: pointer;
  background-color: green;
}

@media only screen and (max-device-width: 500px) {
  .location-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100vw;
    left: 0;
    top: 0;
    border-radius: 0;
    gap: .5em;
  }
  .exit {
    display: flex;
    right: 40px;
    top: 0px;
    position: absolute;

  }

  .map {
    min-width: 100%;
    overflow: hidden;
  }

  .external {
    right: 40px;

  }

  .selection-box {
    scale: 0.5;
    bottom: 200px;
  }

}